*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
nav{
    position: fixed;
    width: 100%;
    height: 50px;
    background:transparent;
    overflow: hidden;
    margin-top: 50px;
}
div {
    float: left;
    overflow: hidden;
    display: block;
    height: inherit;
}
div ul li{
    float: left;
}
ul li{
    list-style-type: none;
    align-items: center;
    
}
a{
    text-decoration: none;
    color: white;
    
    }
div#div1{
    position: fixed;
    left: 0;
    height: inherit;
    background-color: darkslateblue;
    width: 200px;
    padding-left: 20px;
    padding-top: 14px;
 }
div#div2{
    position: fixed;
    left: 350px;
    transform: translate(-15%);
    background-color: rgb(49, 49, 49);
    width: 1000px;
}
div#div3{
    position: fixed;
    right: 0;
    background-color: darkslateblue;
    width: 325px;
    align-content: left;
}
div#div2 ul{
    position: fixed;
    top:17px;
    width: 980px;

}
div#div2 ul li{
    
    width:160px;
    text-align: center;
    font-size: 80%;
}
div#div3 ul{
    position: absolute;
    left: 0px;
    top:18px;
    width: 300px;
    
}
div#div3 ul li{
    width: 105px;
    text-align: center;
    font-size: 65%;
}
div#div3 ul li:nth-child(2){
    width: 10px;
}